@import './variables';
.div1 {
	width: 200px;
	height: 200px;

	border-radius: 10%;

	background-color: $MainColor;
	
	//pseudoElement
	&:hover{
		background-color: $ResponseColor;
	}
}
.div2 {
	width: 200px;
	height: 200px;

	border-radius: 10%;

	background-color: $SecondaryColor;

	&:hover{
		background-color: $ResponseColor;
	}
}
.div3 {
	width: 200px;
	height: 200px;

	border-radius: 10%;

	background-color: $PrimaryColor;

	&:hover{
		background-color: $ResponseColor;
	}
}